<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% extends "base.html" %} {% block head_title %} From Home.html -
      {{block.super}} {% endblock head_title %}
    </title>
  </head>
  <body>
      <h1>From Home.html</h1>
      {% block content %} {% include "snippets/welcome-user-msg.html" %}
      <h1>From Home.html</h1>
      <h1>Page visit: {{queryset}}</h1>
    {% endblock content %}
  </body>
</html>
